/* CUSTOM PROPERTY */
:root {
    --body-bg: #f1f4ff;
    --green-btn: #4dc490;
    --purple-btn: #655af2;
    --red-link: #f03535;
    --text-color: #000;
}

/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--purple-btn);
    outline-offset: 2px;
    border-radius: 8px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-style: 16px;
    line-height: 1.5;
    background-color: var(--body-bg);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1192px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* intro page */
.intro-page {
    display: flex;
    align-items: center;
}
/* HERO */
.hero {
    --text-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 570px;
    border-radius: 20px;
    overflow: hidden;
    color: var(--text-color);
    height: 100%;
    min-height: 640px;
}
.hero-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 55px 60px;
    background-color: #222;
    background-image: url(../img/Rectangle\ 6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.hero-badge {
    padding: 5px 15px;
    border: 1px solid var(--text-color);
    border-radius: 41px;
    line-height: normal;
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: 500;

}
.hero-title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
}
.hero-text {
    margin-top: 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.hero-bottom {
    padding: 28px;
    text-align: center;
    font-size: 19px;
    background-color: var(--green-btn);
}
/* //HERO */


/* FORM */
.form {
    width: 100%;
    padding: 55px 60px 40px;
    max-width: 570px;
    margin-left: 12px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
}
.form-title {
    margin-top: 0;
    margin-bottom: 65px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}
.form-fielts {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}
.form-fielt {
    padding-top: 15px;
    padding-bottom: 14px;
    border: 0;
    border-bottom: 1px solid #555;
    color: #555;
}
.form-fielt:focus {
    border-color: #000;
    color: #000;
    font-weight: 600;
}
.form-fielt:not(:last-child) {
    margin-bottom: 20px;
}

.form-submit {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 8px;
    border: 0;
    border-radius: 10px;
    background-color: var(--purple-btn);
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    cursor: pointer;
}
.form-notice {
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
}
.form-notice-link {
    font-weight: 500;
    color: var(--red-link);
    text-decoration: underline;
}
/* //FORM */
/* //MAIN CONTENT */


/* RETINA BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero-main {
        background-image: url(../img/Rectangle\ 6@2x.png);
    }
}
/* //RETINA BG */